<div id="header" class="row">
  <div class="banner col-xs-12 col-sm-12 col-md-12">
    <% link_to "/", :class => "home-link" do %>
    <div class="image"></div>
    <% end %>
    <div class="title">Tendenze Festival<span>3.0</span></div>
    <div class="subtitle">
      <ul class="info primary">
        <li class="text"><span>XXI Edizione</span></li>
        <li class="text"><span>18-19-20 Settembre</span></li>
        <li class="text"><span>Spazio 4 - Via Manzoni 21 - Piacenza</span></li>
        <li class="icon first hidden-xs hidden-sm">
          <% link_to data.contacts.facebook, :target => "_blank" do %>
            <%= image_tag "fbook-icon.png" %>
          <% end %>
        </li>
        <li class="icon hidden-xs hidden-sm">
          <% link_to "mailto:#{data.contacts.email}"  do %>
            <%= image_tag "mail-icon.png" %>
          <% end %>
        </li>
        <li class="icon hidden-xs hidden-sm">
          <% link_to data.contacts.location, :target => "_blank" do %>
            <%= image_tag "maps-icon.png" %>
          <% end %>
        </li>
      </ul>
      <ul class="info secondary">
        <li class="text"><span>Free entry</span></li>
        <li class="text"><span>Start ore 18</span></li>
        <li class="text"><span>Oltre 60 band</span></li>
        <li class="text"><span>DJ &amp; live set</span></li>
        <li class="text"><span>Streetfood &amp; drinks</span></li>
        <li class="text"><span>Expo | Interazione</span></li>
        <li class="text"><span>Installazioni | Artigianato</span></li>
        <li class="text"><span>&amp; more</span></li>
      </ul>
      <ul class="info contacts">
        <li class="icon first hidden-md hidden-lg">
          <% link_to data.contacts.facebook, :target => "_blank" do %>
            <%= image_tag "fbook-icon.png" %>
          <% end %>
        </li>
        <li class="icon hidden-md hidden-lg">
          <% link_to "mailto:#{data.contacts.email}"  do %>
            <%= image_tag "mail-icon.png" %>
          <% end %>
        </li>
        <li class="icon hidden-md hidden-lg">
          <% link_to data.contacts.location, :target => "_blank" do %>
            <%= image_tag "maps-icon.png" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div id="top" class="navigation navbar" role="navigation">
      <div class="container">
        <div class="navbar-header" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="navbar-brand hidden-lg hidden-md hidden-sm">Menu</span>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Home', '/' %></li>
            <li><%= link_to 'Line Up', '/lineup.html' %></li>
            <li><%= link_to 'Programma', '/programma.html' %></li>
            <li><%= link_to 'Expo', '/expo.html' %></li>
            <li><%= link_to 'Extra', '/extra.html' %></li>
            <li><%= link_to 'Foto', '/foto.html' %></li>
            <li><%= link_to 'Il Festival', '/festival.html' %></li>
            <li><%= link_to 'Rassegna Stampa', '/rassegna.html' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
