---
title: Expo
---

<div id="expo" class="row">
  <div class="expo-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
    <div class="intro">
      Come ogni anno Tendenze Festival vi propone un percorso attraverso il meglio dell'Expo alternativo ed innovativo, tra artigianato, vintage, musica, creatività e associazionismo in tutte le sue forme. <strong>La lista e le schede sono in continuo aggiornamento!</strong>
    </div>
    <% data.expo.each do |name| %>
    <% data = get_data("expo", name) %>
    <div class="exhibitor row">
      <div class="name col-xs-12 visible-xs"><%= data["title"] %></div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="image">
          <% img = image_tag data['thumbnail'], :class => "img-responsive" %>
          <% if data["link"] %>
            <% link_to data["link"], :target => "_blank" do %>
              <%= img %>
            <% end %>
          <% elsif data["mail"]%>
            <% link_to "mailto:" + data["mail"] do  %>
              <%= img %>
            <% end %>
          <% else %>
            <%= img %>
          <% end %>
        </div>
      </div>
      <div class="content col-xs-12 col-sm-9 col-md-9">
        <div class="name hidden-xs"><%= data["title"] %></div>
        <div class="text"><%= data["text"] %></div>
      </div>
    </div>
    <% end %>
  </div>
</div>
