---
main_header: true
---

<div class="home-links row">
  <%= partial "partials/home_link", :locals => { :link => "download/brochure.pdf", :image => "news/brochure.jpg", :title => "Scarica il PDF del programma" } %>
  <%= partial "partials/home_link", :locals => { :link => "/programma.html#map", :image => "news/mappa.jpg", :title => "Vai alla mappa" } %>
  <%= partial "partials/home_link", :locals => { :link => data.contacts.facebook, :image => "news/fb.jpg", :title => "Vai alla pagina Facebook", :external => true } %>
</div>
<div id="news" class="row">
  <div class="news-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading">News</div>
    <% get_md_files("data/news/2016").reverse_each do |name| %>
    <% data = get_data("news/2016", name) %>
      <% data["id"] = name %>
      <%= partial "partials/news", :locals => { :data => data, :prefix => "2016", :summary => true } %>
    <% end %>
    <div class="heading">Archivio 2015</div>
    <% get_md_files("data/news/2015").reverse_each do |name| %>
    <% data = get_data("news/2015", name) %>
      <% data["id"] = name %>
      <%= partial "partials/news", :locals => { :data => data, :prefix => "2015", :summary => true } %>
    <% end %>
  </div>
</div>
